/*CSS Reset*/
*{
    margin: 0;
    padding: 0;
}

/*layout*/
body{
    font-family: sans-serif;
    font-size: 1em;
}

img{
    max-width: 100%;

}

.container {
    margin: 50px 0px;
    text-align: center;
}

#sw1 {
    float: left;
}

#sw2 {
    float: right;
}


/******** Smartphones ************/

/*Cabeçalho*/
header h1 {
    color: #cc477d;
    text-align: center;
    padding: 25px;
}
/* Menu*/
nav {
    width: 100%;
}

nav ul {
    list-style: none;
    background-color: #444342;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav ul li a{
    text-decoration: none;
    color: #ffffff;
    display: block;
    padding: 10px 15px;
}

nav ul li a:hover {
    background-color: #da0b61;
}

/* Rodapé */
footer {
    width: 100%;
    background-color: rgb(250, 130, 166) ;
    color: #ffffff;
    padding: 5px 0px;
    font-size: 0.9em;
    text-align: center;
}

/*************Tablets, Notebooks/PCs ****************/
@media (min-width: 576px) {
    #sw1,#sw2 {
        float: none;
    }
}